.navbar {
    background-color: #b99565;
    padding: 1rem;
    
  }
  
  .navbar.sticky {
    position: sticky;
    top: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }

  nav ul {
    margin: 0;
    padding: 0;

  }

  a:-webkit-any-link {
    color: black;
    text-decoration: none;
  }

