@font-face{
  font-family: 'Dungeon';
  src: url('./fonts/Dungeon.ttf') format('truetype');
}


.App {
  text-align: center;
}

.welcome-text {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #dea760;
  padding: 15px;
  border: 3px solid #8b5e2b; /* Brauner Rahmen mit einer Dicke von 3 Pixeln */
  border-radius: 10px;
  font-family: 'Dungeon', sans-serif;
}




.tavernepic{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#F2C49B;
  background-size: cover;
  background-repeat: no-repeat; 
  
  
  background-position: center;
}






